.story_item{
    cursor: pointer;
    img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid red;
    }

    p{
        font-size: 0.8rem;
    }
}