.body{
    padding: 1.2rem 22rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .body_left{
        flex-basis: 55%;
    }

    .body_right{
        flex-basis: 45%;
        padding: 1rem 2rem;

        .body_right_profile{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .body_right_profile_image{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                cursor: pointer;

                img{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }

                .body_right_profile_name{
                    text-align: left;
                    h6{
                        font-size: 0.9rem;
                    }

                    p{
                        font-size: 0.9rem;
                        color: gray;
                        font-weight: normal;
                    }
                }
            }

            p{
                font-size: 0.9rem;
                color: var(--primary);
                font-weight: bold;
                cursor: pointer;
            }
        }

        .body_right_people{
            padding: 1.5rem 0rem;
            .body_right_people_header{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h6{
                    font-size: 0.9rem;
                    color: gray;
                }

                p{
                    font-size: 0.8rem;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}