@import 'src/breakpoints';
.suggestion{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm{
        flex-direction: column;
        gap: 0.3rem;
    }

    .suggestion_left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        img{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }

        p{
            font-size: 0.9rem;
            font-weight: bold;
            color: black;
        }
    }

    p{
        font-size: 0.8rem;
        font-weight: bold;
        color: var(--primary);
        cursor: pointer;
    }
}