.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 18rem;
    border-bottom: 0.01px solid rgb(216, 216, 216);

    .header_left{
        img{
            width: 7.5rem;
        }
    }

    .header_middle{
        position: relative;
        input{
            border: none;
            outline: none;
            padding: 0.5rem 0rem;
            padding-left: 3rem;
            background: rgb(236, 236, 236);
            font-size: 1rem;
            border-radius: 0.5rem;
        }

        .header_middle_search_icon{
            position: absolute;
            top: 0.4rem;
            left: 1rem;
            color: darkgray;
            font-size: 1.2rem;
        }
    }

    .header_right{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.1rem;

        .header_right_icon{
            font-size: 1.8rem;
            cursor: pointer;
        }

        img{
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}